RADCHAT_DOMAIN=chat.example.com
RADCHAT_VERSION=latest
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=chat@example.com

# sendgrid | smtp | adapter
RADCHAT_EMAIL_PROVIDER=sendgrid
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_TLS=starttls
RADCHAT_EMAIL_ADAPTER_URL=
RADCHAT_EMAIL_ADAPTER_TOKEN=
RADCHAT_SOLANA_CLUSTER=testnet
